<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <title>Experience</title>
    </head>
    <style>
        .wrapper {
            width: 100%;
            min-height: 100vh;
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            align-content: start;
        }
        .container {
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
        }
        .card {
            width: 25%;
            height: 5rem;
            display: flex;
            padding: 20px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .card_button {
            width: 30px;
            border: none;
            background: transparent;
        }
        .card_head {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
            height: 5rem;
        }
        .fileAndFolderIcon {
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .back_wrapper {
            display: flex;
            gap: 20px;
            align-items: center;
        }
        .back_wrapper p {
            margin: 0;
        }
    </style>
    <body>
        <% const lastPath = data[0].real_path.split("\\").slice(0,-2).join("\\")
        %> <% if(lastPath === "C:") { %> <% } else{ %>
        <div class="container">
            <div class="wrapper">
                <a
                    href="?path=<%= lastPath  %>"
                    class="card bg-primary-subtle shadow-sm"
                >
                    <div class="back_wrapper">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            width="30"
                        >
                            <path
                                d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM271 135c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-87 87 87 87c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L167 273c-9.4-9.4-9.4-24.6 0-33.9L271 135z"
                            />
                        </svg>
                        <p>Back</p>
                    </div>
                </a>
                <% } %>
                <br />
                <% for(let i = 0; i < data.length; i++) {%>
                <div class="bg-primary-subtle shadow-sm card">
                    <a href="?path=<%= data[i].real_path %>" class="card_head">
                        <% if(data[i].isFile){ %>
                        <div class="fileAndFolderIcon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 384 512"
                                width="20"
                            >
                                <path
                                    d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"
                                />
                            </svg>
                        </div>
                        <% } else { %>
                        <div class="fileAndFolderIcon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                width="30"
                            >
                                <path
                                    d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"
                                />
                            </svg>
                        </div>
                        <% } %>
                        <p style="margin: 0">
                            <% let link = data[i].path.substring(0,10) %> <%=
                            link %> <%= data[i].path.length > 20 ? "...":""%>
                        </p>
                    </a>
                    <a
                        href="?delete-path=<%= data[i].real_path %>"
                        class="card_button"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512"
                            width="20"
                            fill="red"
                        >
                            <path
                                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                            />
                        </svg>
                    </a>
                </div>
                <br />
                <% } %>
            </div>
        </div>
    </body>
</html>
